body,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}



body, html {
    height: 100%;
    line-height: 1.8;
    /*   */
}

#home {
    padding:0px 48px;
}

#codesTemplate {
    padding:0px 48px;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/mac.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}

th, td {
    padding: 10px;
    text-align: left;
}